@font-face {
  font-family: "Montserrat";
  src: url("../fonts/subset-Montserrat-Regular.eot");
  src: url("../fonts/subset-Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-Montserrat-Regular.woff2") format("woff2"), url("../fonts/subset-Montserrat-Regular.woff") format("woff"), url("../fonts/subset-Montserrat-Regular.ttf") format("truetype"), url("../fonts/subset-Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/subset-Montserrat-Bold.eot");
  src: url("../fonts/subset-Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/subset-Montserrat-Bold.woff2") format("woff2"), url("../fonts/subset-Montserrat-Bold.woff") format("woff"), url("../fonts/subset-Montserrat-Bold.ttf") format("truetype"), url("../fonts/subset-Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  vertical-align: top;
}

body {
  font-family: "Montserrat", sans-serif;
}

/*colors*/
/*colors*/
.gradient {
  background-image: url(../images/Symbol.svg), linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  background-repeat: no-repeat, no-repeat;
  background-position: center top;
  background-size: auto 100vh, auto;
  padding-bottom: 60px;
  border-radius: 0px 0px 12px 12px;
}

.viewport__height {
  min-height: 100vh;
  margin-bottom: 60px;
}

.viewport {
  display: flex;
  flex-direction: column;
}
.viewport__title {
  color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  margin-top: auto;
  padding: 0 10px;
}

.next-page__scrol {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: auto;
}

.next-page__scrol:hover .viewport__icon-scrol {
  stroke: #F0145A;
  cursor: pointer;
}

.benefits__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 60px;
}
.benefits__wrap {
  margin-right: 60px;
  display: flex;
}
.benefits__wrap::after {
  content: "";
  width: 4px;
  height: auto;
  background: rgba(255, 255, 255, 0.3);
  display: block;
  margin-left: 60px;
}
.benefits__list {
  padding: 14.5px 0;
}
.benefits__item {
  text-align: right;
  margin-bottom: 30px;
}
.benefits__item:last-child {
  margin-bottom: 0;
}
.benefits__link {
  text-decoration: none;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  color: #B3B3BA;
}
.benefits__link:hover {
  color: #F0145A;
}
.benefits__desc {
  max-width: 861px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.benefits__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 37px;
  color: #FFFFFF;
  padding-bottom: 30px;
}
.benefits__text {
  font-weight: normal;
  font-size: 19px;
  line-height: 30px;
  color: #FFFFFF;
}

@media (max-width: 1919px) {
  .benefits__desc {
    max-width: 580px;
  }
}
@media (max-width: 1439px) {
  .benefits__desc {
    max-width: 405px;
  }
}
@media (max-width: 1023px) {
  .benefits__container {
    flex-direction: column;
    padding: 0 10px;
  }

  .benefits__list {
    display: flex;
    flex-direction: row;
    overflow: scroll;
  }

  .benefits__wrap {
    margin-right: 0;
    margin-bottom: 60px;
    flex-direction: column;
  }

  .benefits__wrap::after {
    height: 4px;
    width: auto;
    margin-left: 0;
  }

  .benefits__link {
    white-space: nowrap;
  }

  .benefits__item:not(:last-child) {
    margin-right: 30px;
  }

  .benefits__item {
    margin-bottom: 60px;
    padding: 0;
  }

  .benefits__desc {
    max-width: 100%;
  }
}
.shaddow-line {
  max-width: 1920px;
  margin: 0 auto 60px auto;
}

.shaddow-line__img {
  width: 100%;
  height: 100%;
}

@media (max-width: 904px) {
  .shaddow-line {
    margin-bottom: 0;
  }
}
.header__container {
  display: grid;
  grid-template-columns: 155px 1fr;
  grid-template-areas: "logo header-top" "logo header-bottom";
  padding-top: 50px;
}
.header__top {
  grid-area: header-top;
  margin-bottom: 16px;
  display: flex;
  justify-content: flex-end;
}
.header__logo {
  grid-area: logo;
}
.header__logo-link {
  text-decoration: none;
}
.header__bottom {
  grid-area: header-bottom;
  display: flex;
  justify-content: flex-end;
}

.main-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-info__list {
  display: flex;
  flex-direction: row;
}
.main-info__item {
  margin-right: 7px;
  padding: 5px 7px;
}
.main-info__item:hover {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}
.main-info__item:active {
  background: #F0145A;
  border-radius: 8px;
}
.main-info__item:last-child {
  margin-right: 0px;
}
.main-info__lang {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  color: #FFFFFF;
  text-decoration: none;
}
.main-info__lang:hover {
  cursor: pointer;
}
.main-info__links {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-info__adress {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  flex-direction: row;
}
.main-info__phone {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
}
.main-info__adress::before, .main-info__adress::after, .main-info__phone::after {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #E6E6F0;
  display: flex;
  align-self: center;
  margin-left: 6px;
  margin-right: 6px;
}
.main-info__facebook-logo:hover {
  fill: #F0145A;
}

.button__hamburger {
  padding: 0;
  border: 0;
  border-radius: 8px;
  height: 32px;
  background: #323264;
  display: none;
}
.button__hamburger:hover {
  cursor: pointer;
}

.img__hamburger:active {
  border-radius: 8px;
  fill: #E6E6F0;
}

.menu__list {
  display: flex;
  flex-direction: row;
}
.menu__item {
  margin-right: 15px;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__link {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  text-decoration: none;
}
.menu__link:hover {
  text-decoration: underline;
}
.menu__link:active {
  color: #F0145A;
}

.menu-button__close {
  padding: 0;
  border: 0;
  height: 32px;
  border-radius: 0;
  background-color: #FFFFFF;
  display: none;
}

@media (max-width: 1023px) {
  .header__container {
    display: flex;
    flex-direction: column;
  }

  .header__top {
    justify-content: flex-start;
    margin-bottom: 30px;
  }

  .header__bottom {
    flex-direction: column;
    margin-top: 0px;
    align-items: flex-start;
  }

  .header__logo {
    height: 60px;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .main-info__adress, .main-info__facebook, .main-info__phone::after {
    display: none;
  }

  .header__top {
    justify-content: space-between;
    background: rgba(245, 245, 250, 0.2);
    margin-bottom: 0;
    margin-right: -15px;
    margin-left: -15px;
    padding: 10px 20px 10px 10px;
  }

  .header__bottom {
    padding: 15px 0 10px 0;
  }

  .header__menu {
    position: fixed;
    background-color: #FFFFFF;
    padding: 64px 12px 12px 12px;
    bottom: 0;
    left: 8px;
    right: 8px;
    border-radius: 12px 12px 0px 0px;
    flex-direction: column;
    display: none;
  }

  .menu--open {
    display: block;
  }

  .menu__list {
    flex-direction: column;
  }

  .menu__link {
    color: #24A3FF;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
  }

  .menu__item {
    text-align: center;
    background: #F5F5FA;
    border-radius: 12px;
    margin-right: 0;
    padding: 7px;
    margin-bottom: 15px;
  }
  .menu__item:last-child {
    margin-bottom: 0;
  }
  .menu__item:active {
    background: #E6E6F0;
  }

  .menu-button__close {
    display: block;
    position: absolute;
    top: 12px;
    right: 12px;
  }

  .header__logo {
    width: auto;
    height: auto;
    margin-bottom: 0;
    padding: 15px 0px 10px 0px;
  }

  .header__logo-hlegal {
    width: 69px;
    height: 32px;
  }

  .header__logo-link {
    display: flex;
  }

  .header__container {
    padding: 0 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header-top header-top" "logo header-bottom";
  }

  .button__hamburger {
    display: block;
    margin-left: auto;
  }
}
.gradient__services {
  background-image: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
  border-radius: 0px 0px 12px 12px;
}

.services__container-page {
  padding: 60px 0;
}

.footer__container--border {
  border-top: 0;
}

.services__title {
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 60px;
  vertical-align: top;
}
.services__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(393px, 1fr));
  gap: 60px;
}
.services__logo {
  background-color: #FFFFFF;
  padding: 14px;
  border-radius: 24px;
  margin-bottom: 30px;
}
.services__item-link {
  text-decoration: none;
}
.services__item-title {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #24A3FF;
  margin-bottom: 15px;
}
.services__item-title:hover {
  color: #F0145A;
}
.services__item-text {
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}

.caption-link__section {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
  text-decoration: none;
}
.caption-link__section:hover {
  color: #F0145A;
}
.caption-link__section:hover .img__arrow {
  stroke: #F0145A;
}

.caption__section {
  margin-bottom: 10px;
}

@media (max-width: 1439px) {
  .services__list {
    grid-template-columns: repeat(auto-fill, minmax(253px, 1fr));
  }
}
@media (max-width: 1023px) {
  .services__list {
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  }
}
.slider {
  margin-bottom: 60px;
}
.slider__list {
  background-color: #F5F5FA;
  border-radius: 12px;
}
.slider__item {
  display: grid !important;
  grid-template-columns: 400px 1fr;
}
.slider__img {
  width: 400px;
  overflow: hidden;
  height: 100%;
}
.slider__photo {
  width: 410px;
  height: 100%;
}
.slider__content {
  padding: 30px;
}
.slider__title {
  padding-top: 5px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.slider__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #B3B3BA;
}

.slider__subtitle {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #B3B3BA;
}
.slider__partner-link {
  text-decoration: none;
}

.slider__dots {
  display: flex;
  padding-top: 30px;
  justify-content: center;
  background-color: #fff;
}

.slider__dots li {
  margin-right: 15px;
}

.slider__dots button {
  font-size: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  color: #24A3FF;
  background-color: #24A3FF;
  border: 0;
}

.slider__dots li.slick-active button {
  background-color: #006CCF;
}

.slick-list {
  border-radius: 12px;
}

.achievement-slider__list {
  display: flex;
}
.achievement-slider__item {
  height: 190px;
  width: 100%;
  background-color: #fff;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
.slick-list--achievement {
  margin-left: -40px;
  margin-right: -40px;
}

.slick-slide--achievement {
  margin: 0 40px;
}

@media (max-width: 1023px) {
  .slider__item {
    grid-template-columns: 1fr;
  }

  .slider__img {
    width: 100%;
    overflow: hidden;
    height: 500px;
  }

  .slider__photo {
    width: 100%;
    height: 510px;
  }
}
@media (max-width: 648px) {
  .slider__title {
    font-size: 30px;
    line-height: 37px;
  }

  .slider__img {
    min-width: 315px;
    overflow: hidden;
    height: 500px;
  }
}
.clients_nopadding {
  margin-left: -60px;
  margin-right: -60px;
  margin-bottom: 60px;
}
.clients__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  text-align: center;
  margin-bottom: 30px;
}
.clients__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.clients__link {
  display: flex;
  height: 120px;
}
.clients__logo {
  margin: auto;
}

.hillel-logo {
  background: #1C4280;
  border-radius: 12px 0 0 0;
}

.wannabiz-logo {
  background: #143646;
}

.tapgerine-logo {
  background: linear-gradient(0deg, #F48B30, #F48B30), #F48B30;
}

.look3d-logo {
  background: #9E4DC3;
  border-radius: 0 12px 0 0;
}

.orangear-logo {
  background: #FD9339;
}

.adtelligent-logo {
  background: #E2E2E4;
}

.clickky-logo {
  background: #C71C36;
}

.ecolease-logo {
  background: #DCF3F9;
}

.infratek-logo {
  background: #EAEAEA;
  border-radius: 0 0 0 12px;
}

.citypark-logo {
  background: #282240;
}

.artprintstudio-logo {
  background: #1D4568;
}

.ultimatecard-logo {
  background: #000000;
  border-radius: 0 0 12px 0;
}

@media (max-width: 1919px) {
  .clients__item {
    border-radius: 0;
  }
}
@media (max-width: 1023px) {
  .clients__list {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 767px) {
  .clients_nopadding {
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 30px;
  }

  .clients__list {
    grid-template-columns: 1fr;
  }
}
.publications {
  background-color: #F5F5FA;
  padding-bottom: 30px;
}
.publications__caption-wrap {
  padding: 30px 0;
}
.publications__title {
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
}
.publications__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.publications_img {
  width: 100%;
  height: auto;
}
.publications__item {
  background-color: #fff;
  border-radius: 8px;
}
.publications__item-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 15px;
}
.publications__item-link {
  text-decoration: none;
  color: #24A3FF;
}
.publications__item-date {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  color: #B3B3BA;
  margin-bottom: 15px;
}
.publications__item-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  border-top: 4px solid #E6E6F0;
  padding-top: 15px;
}
.publications__desc {
  padding: 30px;
}

@media (max-width: 1023px) {
  .publications__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .publications__item:last-child {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .publications__wrapper {
    grid-template-columns: 1fr;
  }

  .publications__item:last-child {
    grid-column-start: 1;
    grid-column-end: 2;
  }
}
.footer {
  background-color: #F5F5FA;
}
.footer__container {
  padding: 30px 0;
  display: grid;
  grid-template-areas: "footer-address copyright" "footer-contacts footer-contacts";
}
.footer__container--border {
  border-top: 2px solid #E6E6F0;
}
.footer__on-map {
  grid-area: footer-address;
  display: flex;
  align-items: center;
  margin-bottom: 21px;
}
.footer__address {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
  display: flex;
}
.footer__address-link {
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #24A3FF;
  text-decoration: none;
}
.footer__address-link:hover {
  color: #F0145A;
}
.footer__copyright {
  grid-area: copyright;
  justify-content: flex-end;
  display: flex;
  justify-content: flex-end;
}
.footer__copy {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #B3B3BA;
}
.footer__contacts {
  grid-area: footer-contacts;
  display: flex;
  align-items: center;
}
.footer__phone {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #46466E;
  text-decoration: none;
  display: flex;
}
.footer__email {
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #24A3FF;
  text-decoration: none;
}
.footer__email:hover {
  color: #F0145A;
}

.footer__address::after, .footer__phone::after, .footer__phone::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #B3B3BA;
  display: flex;
  align-self: center;
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 767px) {
  .footer__container {
    grid-template-areas: "footer-address" "footer-contacts" "copyright";
  }

  .footer__address::after, .footer__phone::after, .footer__phone::before {
    display: none;
  }

  .footer__on-map, .footer__contacts {
    flex-direction: column;
    justify-content: center;
  }

  .footer__address, .footer__phone, .footer__facebook {
    margin-bottom: 10px;
  }

  .footer__contacts {
    margin-bottom: 30px;
  }

  .footer__copyright {
    justify-content: center;
  }
}
.pages__container {
  max-width: 1620px;
  padding: 0px 10px 0 10px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .pages__container {
    padding-top: 0;
  }
}
.about__info {
  padding: 60px 120px 60px 120px;
  display: grid;
  grid-template-columns: 1fr 388px;
  gap: 30px;
}
.about__title, .about__achivement-title {
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.about__title {
  margin-bottom: 28px;
}
.about__desc {
  font-weight: normal;
  font-size: 19px;
  line-height: 30px;
}
.about__desc:not(:last-child) {
  margin-bottom: 28px;
}
.about__achivement {
  padding-left: 30px;
  border-left: 4px solid #E6E6F0;
}
.about__achivement-item:not(:last-child) {
  margin-bottom: 40px;
}
.about__achivement-statist {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.about__achivement-title {
  margin-left: 8px;
}
.about__achivement-desc {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #323264;
}

.background__img-team {
  background-image: url(../images/team/Team.jpg);
  background-size: 100% 100%;
}

.about__title-team {
  font-weight: bold;
  font-size: 96px;
  line-height: 117px;
  text-align: center;
  letter-spacing: 63px;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.8;
  text-shadow: 0px 15px 30px rgba(40, 40, 86, 0.8);
  display: block;
  padding-top: 236px;
  padding-bottom: 231px;
}

.about__page-wrap {
  padding: 60px 120px 60px 120px;
  display: grid;
  grid-template-columns: 1fr 362px;
  gap: 60px;
}

.achivment-slider {
  background-color: #F5F5FA;
}
.achivment-slider__container {
  padding: 30px 0;
}
.achivment-slider__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #323264;
  margin-bottom: 30px;
}

@media (max-width: 1919px) {
  .about__title-team {
    padding: 163px 0 158px 0;
  }
}
@media (max-width: 1439px) {
  .about__title-team {
    padding: 103px 0;
    font-size: 86px;
    line-height: 105px;
  }
}
@media (max-width: 1023px) {
  .about__title-team {
    padding: 89px 0;
    font-size: 46px;
    line-height: 56px;
  }
}
@media (max-width: 767px) {
  .about__title-team {
    padding: 35px 0;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 13px;
  }
}
@media (max-width: 1439px) {
  .about__info, .about__page-wrap {
    padding: 60px;
  }
}
@media (max-width: 1023px) {
  .about__info, .about__page-wrap {
    grid-template-columns: 1fr;
    gap: 30px;
    padding: 60px 0px;
  }
}
@media (max-width: 767px) {
  .about__info, .about__page-wrap {
    padding: 30px 0px;
  }
}
.header__container--pages {
  padding: 50px 0 0 0;
}
.header__logo--about {
  display: flex;
}
.header__logo--about::after {
  content: "about us";
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  color: #323264;
  white-space: nowrap;
}

.button__hamburger--pages {
  padding: 0;
  border: 0;
  border-radius: 8px;
  height: 32px;
  background: #FFFFFF;
}
.button__hamburger--pages:hover {
  background-color: #E6E6F0;
}

.main-info__item--pages:hover {
  background-color: #F5F5FA;
}
.main-info__item--pages:active {
  background-color: #F0145A;
}
.main-info__lang--pages, .main-info__adress--pages, .main-info__phone--pages {
  color: #B3B3BA;
}

.menu__link--pages {
  color: #24A3FF;
}

@media (max-width: 767px) {
  .header__top--pages {
    margin: 0 -10px;
    padding: 12.5px 10px;
    background-color: #F5F5FA;
  }

  .header__logo--about::after {
    font-size: 20px;
    line-height: 24px;
  }

  .header__container--pages {
    padding: 0;
  }
}
.services-desc__title {
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  text-align: center;
  background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 28px;
}
.services-desc__text {
  font-weight: normal;
  font-size: 19px;
  line-height: 30px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 28px;
}
.services-desc__info {
  padding-bottom: 60px;
  padding-top: 30px;
  border-top: 4px solid #E6E6F0;
}
.services-desc__subtitle {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
  margin-bottom: 30px;
}
.services-desc__list {
  display: inline-block;
  column-count: 2;
  column-gap: 60px;
}
.services-desc__item {
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  color: #FFFFFF;
  margin-bottom: 15px;
  padding-left: 14px;
  position: relative;
}
.services-desc__item::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #F0145A;
  display: block;
  position: absolute;
  top: 9px;
  left: 0;
}
.services-desc__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
}

.services-desc__container {
  max-width: 1360px;
  margin-left: auto;
  margin-right: auto;
}

.button-submit {
  background: #24A3FF;
  box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
  border-radius: 12px;
  padding: 18px 30px;
  border: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

@media (max-width: 767px) {
  .services-desc__list {
    column-count: 1;
    column-gap: 0px;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 100, 0.7);
  display: none;
}
.overlay--open {
  display: flex;
}

.popup {
  margin: auto;
}
.popup__form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 12px;
  background-color: #F5F5FA;
  box-shadow: 0px 15px 80px rgba(40, 40, 86, 0.5);
  width: 650px;
  position: relative;
  opacity: 1;
}
.popup__close {
  padding: 0;
  border: 0;
  height: 32px;
  border-radius: 0;
  background-color: #F5F5FA;
  position: absolute;
  top: 30px;
  right: 30px;
}

.form__title {
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  background-image: linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 30px;
  width: calc(100% - 32px);
}
.form__input, .form__message {
  background: #FFFFFF;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 8px;
}
.form__input {
  height: 56px;
  margin-bottom: 15px;
}
.form__message {
  margin-bottom: 30px;
  min-height: 130px;
}
.form__subtitle {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .popup__form {
    width: 100vw;
    height: 100vh;
    border-radius: 0;
  }

  .form__title {
    font-size: 30px;
    line-height: 37px;
  }
}
._container {
  max-width: 1720px;
  padding: 0 60px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  ._container {
    padding: 0 30px 0 30px;
  }

  .header {
    margin: 0 -30px 0 -30px;
  }
}

/*# sourceMappingURL=styles.css.map */
