.header {

    // .header__container

    &__container {
        display: grid;
        grid-template-columns: 155px 1fr;
        grid-template-areas: 
        "logo header-top"
        "logo header-bottom";
        padding-top: 50px;
    }

    // .header__top

    &__top {
        grid-area: header-top;
        margin-bottom: 16px;
        display: flex;
        justify-content: flex-end;
    }

    // .header__logo

    &__logo {
        grid-area: logo;
    }

    // .header__logo-link

    &__logo-link {
        text-decoration: none;
    }

    // .header__buttom

    &__bottom {
        grid-area: header-bottom;
        display: flex;
        justify-content: flex-end;
    }
}
.main-info {
    display: flex;
    flex-direction: row;
    align-items: center;

    // .main-info__list

    &__list {
        display: flex;
        flex-direction: row;
    }

    // .main-info__item

    &__item {
        margin-right: 7px; 
        padding: 5px 7px;
    }
    &__item:hover {
        background: rgba(255, 255, 255, 0.2);
        border-radius: 8px;
    }

    &__item:last-child {
        margin-right: 0px;
    }

    // .main-info__lang

    &__lang {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 1px;
        color: #FFFFFF;
        text-decoration: none;
    }
    &__lang:hover {
        cursor: pointer;
    }

    // .main-info__links

    &__links {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    // .main-info__adress

    &__adress {
        font-weight: normal;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        text-decoration: none;
        display: flex;
        flex-direction: row;
    }

    // .main-info__phone

    &__phone {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        text-decoration: none; 
        color: #FFFFFF;
        display: flex;
        flex-direction: row;
    }

    &__adress::before, &__adress::after, &__phone::after {
        content: '';
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #E6E6F0;
        display: flex;
        align-self: center;
        margin-left: 6px;
        margin-right: 6px;   
    }

    // .main-info__facebook-logo
    
    &__facebook-logo:hover {
        fill: $accent;
    }
}
.button {

    // .button__hamburger

    &__hamburger {
    padding: 0;
    border: 0;
    border-radius: 8px;
    height: 32px;
    background: #323264;
    display: none;

    &:hover {
        cursor: pointer;
    }
    }
}
.img {

    // .img__hamburger

    &__hamburger {
        &:active {
            border-radius: 8px;
            fill: #E6E6F0;
        }
    }
}
.menu {

    // .menu__list

    &__list {
        display: flex;
        flex-direction: row;
    }

    // .menu__item

    &__item {
        margin-right: 15px;

            &:last-child {
                margin-right: 0;
            }
    }

    // .menu__link

    &__link {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #FFFFFF;
        text-decoration: none;
    }
    &__link:hover {
        text-decoration: underline;
    }

    &__link:active {
        color: $accent;
    }
}
.menu-button {

    // .menu-button__close

    &__close {
        padding: 0;
        border: 0;
        height: 32px;
        border-radius: 0;
        background-color: #FFFFFF;
        display: none;
    }
}
 
 @media (max-width: 1023px) {
    .header__container {
        display: flex;
        flex-direction: column;
    }
     .header__top {
         justify-content: flex-start;
         margin-bottom: 30px;
     }
 
     .header__bottom {
         flex-direction: column;
         margin-top: 0px;
         align-items: flex-start;
     }
 
     .header__logo {
         height: 60px;
         margin-bottom: 30px;
     } 
 }
 
 @media (max-width: 767px) {
    .main-info__adress, .main-info__facebook, .main-info__phone::after {
         display: none;
    }
 
    .header__top {
        justify-content: space-between;
        background: rgba(245, 245, 250, 0.2);
        margin-bottom: 0;
        margin-right: -15px;
        margin-left: -15px;
        padding: 10px 20px 10px 10px;
    }

    .header__bottom {
        padding: 15px 0 10px 0;
    }
 
    .header__menu {
        position: fixed;
        background-color: #FFFFFF;
        padding: 64px 12px 12px 12px;
        bottom: 0;
        left: 8px;
        right: 8px;
        border-radius: 12px 12px 0px 0px;
        flex-direction: column;
        display: none;
    }
 
    .menu--open {
        display: block;
    }
 
    .menu__list {
        flex-direction: column;
    }
 
    .menu__link {
        color: #24A3FF;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;         
    }
 
    .menu__item {
        text-align: center;
        background: #F5F5FA;
        border-radius: 12px;
        margin-right: 0;
        padding: 7px;
        margin-bottom: 15px;
 
            &:last-child {
                margin-bottom: 0;
            }
 
            &:active {
                background: #E6E6F0;
            }
    }
 
    .menu-button__close {
        display: block;
        position: absolute;
        top: 12px;
        right: 12px;
    }
 
    .header__logo {
        width: auto;
        height: auto;
        margin-bottom: 0;
        padding: 15px 0px 10px 0px;
    }

    .header__logo-hlegal {
        width: 69px;
        height: 32px;
    }
 
    .header__logo-link {
        display: flex;
    }
 
    .header__container {
        padding: 0 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "header-top header-top"
        "logo header-bottom";
    }
    .button__hamburger {
        display: block;
        margin-left: auto;
    }
}
 
