.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(50,50,100,0.7);
    display: none;

    &--open {
        display: flex;
    }
}
.popup {
    margin: auto;

		// .popup__form

		&__form {
            display: flex;
            flex-direction: column;
            padding: 30px;
            border-radius: 12px;
            background-color: $grey;
            box-shadow: 0px 15px 80px rgba(40, 40, 86, 0.5);
            max-width: 650px;
            position: relative;
            opacity: 1;
		}

        &__close {
            padding: 0;
            border: 0;
            height: 32px;
            border-radius: 0;
            background-color: $grey;
            position: absolute;
            top: 30px;
            right: 30px;
        }
}
.form {

    // .form__title

    &__title {
        font-weight: bold;
        font-size: 38px;
        line-height: 46px;
        background-image: $gradient-redtext;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        margin-bottom: 30px;
        width: calc(100% - 32px);
    }

    // .form__input

    &__input, &__message {
        background: #FFFFFF;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 8px;
        font-family: inherit;
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;

        &::placeholder {
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            color: $grey-text;
        }
        &:disabled {
            background: #EDEDF7;
            border: 1px solid #EDEDF7;
        }
        &:focus {
            outline-color: #24A3FF;
            outline-width: 1px;
            outline-style: solid;
        }
    }

    &__input {
        height: 56px;
        margin-bottom: 15px;

        &:invalid {
            outline-color: #FF0000;
            outline-width: 1px;
            outline-style: solid;
            color: #FF0000;
        }

    }

    // .form__message

    &__message {
        margin-bottom: 30px;
        min-height: 130px;

    }

    // .form__subtitle

    &__subtitle {
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: $grey-text;
        margin-bottom: 15px;
    }
}

.button--progress {
    background: $grey-alt;
    border-radius: 12px;
    height: 56px;
    border: 0;
    display: none;

    &:hover {
        cursor: pointer;
    }
}
.circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 4px solid #24A3FF;
    border-right-color: transparent;
    animation: rotate 1s infinite;
}
@keyframes rotate {
    0% {transform: rotate(0);}
    0% {transform: rotate(-360deg);}
}

.button--response {
    background: $grey-alt;
    border-radius: 12px;
    height: 56px;
    border: 0;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #323264;
    font-family: inherit;
    display: none;
}

@media (max-width: 767px) {
    .popup__form {
        width: 100vw;
        height: 100vh;
        border-radius: 0;
    }

    .form__title {
        font-size: 30px;
        line-height: 37px;
    }
}
