.slider {
    margin-bottom: 60px;

    // .slider__list

    &__list {
        background-color: $grey;
        border-radius: 12px;
    }

    // .slider__item

    &__item {
        display: grid !important;
        grid-template-columns: 400px 1fr;
    }

    // .slider__img

    &__img {
        width: 400px;
        overflow: hidden;
        height: 100%;
    }

    &__photo {
        width: 410px;
        height: 100%;
    }

    // .slider__content

    &__content {
        padding: 30px;
    }

    // .slider__title

    &__title {
        padding-top: 5px;
        margin-bottom: 30px;
        font-weight: bold;
        font-size: 38px;
        line-height: 46px;
        background-image: $gradient-redtext;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
    }

    // .slider__text

    &__text {
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: $grey-text;
    }
}

.slider {

    // .sider__subtitle

    &__subtitle {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: $grey-text;
    }

    &__partner-link {
        text-decoration: none;
    }
}

.slider__dots {
    display: flex;
    padding-top: 30px;
    justify-content: center;
    background-color: #fff;
}

.slider__dots li{
    margin-right: 15px;
}

.slider__dots button {
    font-size: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    color: $blue;
    background-color: $blue;
    border: 0;
}

.slider__dots li.slick-active button {
    background-color: $blue-active;
}

.slick-list {
    border-radius: 12px;
}


.achievement-slider {

    // .achievement-slider__list

    &__list {
        display: flex; 
    }

    // .achievement-slider__item

    &__item {
        height: 190px;
        width: 100%;
        background-color: #fff;
        display: flex !important;
        justify-content: center;
        align-items: center;
        
    }

    // .achievement-slider__img

    &__img {

    }
}
.slick-list--achievement {
    margin-left: -40px;
    margin-right: -40px;
}
.slick-slide--achievement {
    margin: 0 40px;
}


@media (max-width: 1023px) {
    .slider__item {
        grid-template-columns: 1fr;
        
    }
    .slider__img {
        width: 100%;
        overflow: hidden;
        height: 500px;
    }

    .slider__photo {
        width: 100%;
        height: 510px;
    }
}

@media (max-width: 648px) {
    .slider__title {
        font-size: 30px;
        line-height: 37px;
    }
    .slider__img{
        min-width: 315px;
        overflow: hidden;
        height: 500px;
    }
}